@using CraftHouse.Web.Entities
@model CraftHouse.Web.ViewComponents.MenuViewComponentModel
<nav>
    <ul class="nav__menu">
        <li class="nav__item">
            <a class="nav__link nav__logo" asp-page="/Index">CraftHouse</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" asp-page="/Index">Products</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" asp-page="/Index">Contact</a>
        </li>
        @if (Model.User == null)
        {
            <li class="nav__item left">
                <a class="nav__link" asp-page="/Registration">Register</a>
            </li>
            <li class="nav__item">
                <a class="nav__link border" asp-page="/LogIn">Login</a>
            </li>
        }
        else
        {
            @if (Model.User.UserType is UserType.Administrator or UserType.Worker)
            {
                <li class="nav__item">
                    <a class="nav__link" asp-page="/Admin/Users">Users</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" asp-page="/ProductManagement">Manage products</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" asp-page="/Admin/Categories">Categories</a>
                </li>
            }
            <li class="nav__item left">
                <a class="nav__link" asp-page="/Logout">Logout</a>
            </li>
        }
    </ul>
</nav>