@page "{pageNumber?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="products">
    @foreach (var prod in Model.Products)
    {
        <div class="products__product">
            <h3>@prod.Name</h3>
            <img class="products__photo"src="~/photos/pexels-irina-varanovich-14686152.jpg"/>
            <p>@prod.Description</p>
            <p>@prod.Price</p>
        </div>
    }
</div>
<a href="/@(Model.PageNumber - 1)">Prev Page</a>
<a href="/@(Model.PageNumber + 1)">Next Page</a>
