@page "{pageNumber?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="products">
    @foreach (var prod in Model.Products)
    {
        <div class="products__product">
            <img class="products__photo" src="~/photos/pexels-irina-varanovich-14686152.jpg" alt="Product image"/>
            <p class="product__name">@prod.Name</p>
            <p>@prod.Description</p>
            <p>@prod.Price</p>
            <a href="">Add to cart</a>
        </div>
    }
</div>
<div class="products__pagination">
    @if (Model.PageNumber != 1)
    {
        <a href="/@(Model.PageNumber - 1)">Prev Page</a>
    }
    <span>@Model.PageNumber</span>
    @if ((int)Model.ViewData["lastPageNumber"]! != Model.PageNumber)
    {
        <a href="/@(Model.PageNumber + 1)">Next Page</a>
    }
</div>