@page
@model CraftHouse.Web.Pages.LogIn

<form method="post">
    <div>
        <label for="email">E-mail address</label>
        <input type="text" id="email" asp-for="Email"/>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" asp-for="Password"/>
    </div>

    <input type="submit" value="Login"/>
</form>