@page
@model CraftHouse.Web.Pages.LogIn

<form method="post">
    <label for="email">E-mail address</label>
    <input type="text" id="email" asp-for="Mail"/>
    
    <label for="password">Password</label>
    <input type="text" id="password" asp-for="Password"/>
</form>