@page
@model CraftHouse.Web.Pages.Registration

<form method="post">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" asp-for="FirstName"/>
    
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" asp-for="LastName"/>
    
    <label for="telephoneNumber">Telephone number</label>
    <input type="number" id="telephoneNumber" asp-for="TelephoneNumber"/>
    
    <label for="city">City</label>
    <input type="text" id="city" asp-for="City"/>
    
    <label for="postalCode">Postal code</label>
    <input type="text" id="postalCode" asp-for="PostalCode"/>
    
    <label for="addressLine">Address</label>
    <input type="text" id="addressLine" asp-for="AddressLine"/>
    
    <label for="email">E-mail address</label>
    <input type="text" id="email" asp-for="Mail"/>
    
    <label for="password">Password</label>
    <input type="text" id="password" asp-for="Password"/>
    
    <label for="confirmPassword">Confirm password</label>
    <input type="text" id="confirmPassword" asp-for="ConfirmPassword"/>
    
    <input type="submit" value="Register"/>
    
</form>