@page
@model CraftHouse.Web.Pages.Registration
@{
    ViewData["no_render_nav"] = true;
    ViewData["title"] = "Register";
    ViewData["styles"] = "login";
}

<div class="container margin-top">
    <div class="logo">
        <a asp-page="/Index">Craft House</a>
    </div>
    <h1>Create account</h1>
    @if (Model.ValidationErrors != null)
    {
        <div class="form__error">
            @foreach (var error in Model.ValidationErrors)
            {
                <p>@error</p>
            }
        </div>
    }
    <form method="post">
        <div class="form__group">
            <input class="form__input" type="text" id="firstName" asp-for="UserRegister.FirstName"/>
            <label class="form__label" for="firstName">First Name</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="text" id="lastName" asp-for="UserRegister.LastName"/>
            <label class="form__label" for="lastName">Last Name</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="number" id="telephoneNumber" asp-for="UserRegister.TelephoneNumber"/>
            <label class="form__label" for="telephoneNumber">Telephone number</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="text" id="city" asp-for="UserRegister.City"/>
            <label class="form__label" for="city">City</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="text" id="postalCode" asp-for="UserRegister.PostalCode"/>
            <label class="form__label" for="postalCode">Postal code</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="text" id="addressLine" asp-for="UserRegister.AddressLine"/>
            <label class="form__label" for="addressLine">Address</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="text" id="email" asp-for="UserRegister.Mail"/>
            <label class="form__label" for="email">E-mail address</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="password" id="password" asp-for="UserRegister.Password"/>
            <label class="form__label" for="password">Password</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="password" id="confirmPassword" asp-for="UserRegister.ConfirmPassword"/>
            <label class="form__label" for="confirmPassword">Confirm password</label>
        </div>

        <input class="form__submit" type="submit" value="Register"/>
    </form>

</div>