<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["title"] - CraftHouse</title>
    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="~/css/nav.css"/>
    @if (ViewData.ContainsKey("styles"))
    {
        <link rel="stylesheet" href="~/css/@(ViewData["styles"]).css"/>
    }
    @if (ViewData.ContainsKey("script"))
    {
        <script src="~/js/@(ViewData["script"]).js" defer></script>
    }
</head>
<body>
@if (!ViewData.ContainsKey("no_render_nav"))
{
    @await Component.InvokeAsync("Menu")
}
<main role="main" class="content">
    @RenderBody()
</main>
</body>
</html>