/*
#EAEAEA grey
#FF2E63 red
#252A34 black
#08D9D6 teal
*/

$main-grey: #EAEAEA;
$main-red: #FF2E63;
$main-black: #252A34;
$main-teal: #08D9D6;
$main-blue: #438bd9;
$return-arrow-color: invert(29%) sepia(67%) saturate(3217%) hue-rotate(328deg) brightness(101%) contrast(101%);