@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import 'variables';

/*
#EAEAEA grey
#FF2E63 red
#252A34 black
#08D9D6 teal
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  width: 1300px;
  height: 100%;
}

.error {
  color: #ff2e63;
}

.button {
  cursor: pointer;
  text-decoration: underline;
  color: $main-black;

  &:visited {
    color: $main-black;
  }

  &:hover {
    color: lighten($main-black, 40);
    transition: ease-in-out .2s;
  }
}




.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 20px;
}

.products__product {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid #ff2e63;
  border-radius: 10px;
  padding: 10px;

  .product__name {
    font-size: 1.4rem;
    margin: 7px 0;
  }

  .product__photo {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    align-self: center;
  }
}

.products__pagination {
  display: flex;
  justify-content: center;
  padding: 20px;

  * {
    padding: 0 10px;
  }
}

.categories__category {
  display: flex;
}

.categories__category>* {
  margin: 10px;
}

.categoryManagement__form {
  margin: 10px;
}