@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import 'variables';

/*
#EAEAEA grey
#FF2E63 red
#252A34 black
#08D9D6 teal
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button,
input[type="submit"],
input[type="reset"] {
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1,
h2 {
  color: $main-black;
  margin: 10px 0 10px 0;
}

.content {
  width: 1300px;
  height: 100%;
}

.error {
  color: #ff2e63;
}

.button {
  cursor: pointer;
  text-decoration: none;
  color: $main-grey;
  background-color: $main-blue;
  border: 5px solid $main-blue;
  border-radius: 7px;

  &:visited {
    color: $main-grey;
  }

  &:hover {

    background-color: darken($main-blue, 20);
    border-color: darken($main-blue, 20);
    transition: ease-in-out .2s;
  }

  &--red {
    background-color: $main-red;
    border-color: $main-red;

    &:visited {
      color: $main-grey;
    }

    &:hover {
      background-color: darken($main-red, 20);
      border-color: darken($main-red, 20);

    }
  }

  &--teal {
    background-color: $main-teal;
    border-color: $main-teal;

    &:visited {
      color: $main-grey;
    }

    &:hover {
      background-color: darken($main-teal, 20);
      border-color: darken($main-teal, 20);

    }
  }
}

.display_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly !important;
}

.return {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  text-decoration: none;

  &:hover {
    filter: $return-arrow-color;
  }

  &__arrow {
    height: 1.1rem;
    color: $main-black;
    margin-right: 5px;


  }

  &__text {
    font-weight: bold;
    text-transform: uppercase;
    color: $main-black;
    transform: translateY(-2px);
  }
}

.arrow__ascending {
  align-self: center;
  height: 1.1rem;
  color: $main-black;
  transform: rotate(90deg);
}

.arrow__descending {
  align-self: center;
  height: 1.1rem;
  color: $main-black;
  transform: rotate(-90deg);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-gap: 20px;
}

.products__product {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid #ff2e63;
  border-radius: 10px;
  padding: 10px;

  .product__name {
    font-size: 1.4rem;
    margin: 7px 0;
  }

  .product__photo {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    align-self: center;
  }
}

.products__pagination {
  display: flex;
  justify-content: center;
  padding: 20px;

  * {
    padding: 0 10px;
  }
}