@import 'variables';


table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid #00000000;
    border-bottom: 3px solid $main-teal;
    overflow: hidden;
    margin: 1rem 0 1rem 0;
}

thead th {
    font-size: 1.2rem;
    padding: 0.6rem;
    text-align: left;
    background-color: $main-teal;
    color: $main-black;
}

tbody tr {
    background-color: #ffffff;
}

tbody td {
    padding: 0.6rem;
}

tbody tr:nth-child(even) {
    background-color: darken(#ffffff, 5);
}

.table--center {
    text-align: center;
    min-height: 115px;
}

.table--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table--small_column {
    width: 10%;
}

.table--medium_column {
    width: 35%;
}